<div class="lower-page" id="about">
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <!-- lower content start -->
            <div class="lower-content">
                <!-- container start -->
                <div class="container sections">
                    <!-- row start -->
                    <div class="row about-column">
                        <div class="col-md-3">
                            <div class="cycle-it">
                                <a class="cycle-text" href="#">Who we are</a>
                            </div>
                            <h2>
                                About
                            </h2>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="quote">
                                <p>
                                    <span class="quote-mark-l fa fa-quote-left"></span>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Fusce dictum pharetra congue.<span class="quote-mark-r fa fa-quote-right"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row">
                        <!-- decoration start -->
                        <div class="decoration">
                            <div class="decoration-left"></div>
                            <div class="decoration-effect">
                                <a class="effect-bubba" href="#">Read more</a>
                            </div>
                            <div class="decoration-right"></div>
                        </div>
                        <!-- decoration end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row about-column">
                        <div class="col-md-4">
                            <!-- skills start -->
                            <div class="contentOT">
                                <div class="colOT">
                                    <ul id="skills">
                                        <li>
                                            <span class="expand html5"></span><em>HTML5</em>
                                        </li>
                                        <li>
                                            <span class="expand css3"></span><em>CSS3</em>
                                        </li>
                                        <li>
                                            <span class="expand jquery"></span><em>jQuery</em>
                                        </li>
                                        <li>
                                            <span class="expand photoshop"></span><em>Photoshop</em>
                                        </li>
                                        <li>
                                            <span class="expand dreamweaver"></span><em>Dreamweaver</em>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- skills end -->
                        </div>
                        <div class="col-md-4">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum <a href="#">pharetra congue</a>.
                            </p>
                            <p>
                                Suspendisse ut feugiat orci, in laoreet augue. Aliquam ultricies, ligula non dignissim suscipit, neque nunc efficitur felis.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                Curabitur sit amet odio vitae odio gravida tempus. Aenean in lectus neque.
                            </p>
                            <p>
                                Nunc in lacus quis enim ultrices suscipit sit amet id lorem. Sed in lorem felis. Nulla tempus consequat magna, eu
                                <a href="#">finibus mauris</a>.
                            </p>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- lower content end -->
        </div>
        <!-- center container end -->
    </div>
    <!-- center block end -->
</div>
<!-- about end -->