<!-- contact start -->
<div class="lower-page" id="contact">
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <!-- lower content start -->
            <div class="lower-content">
                <!-- container start -->
                <div class="container sections">
                    <!-- row start -->
                    <div class="row contact-column">
                        <div class="col-md-3">
                            <div class="cycle-it">
                                <a class="cycle-text" href="#">Where we work</a>
                            </div>
                            <h2>
                                Contact
                            </h2>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="quote">
                                <p>
                                    <span class="quote-mark-l fa fa-quote-left"></span>Curabitur sit amet odio vitae odio
                                    gravida tempus. Aenean in lectus neque.<span class="quote-mark-r fa fa-quote-right"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row">
                        <!-- decoration social start -->
                        <div class="decoration-social">
                            <div class="decoration-social-left"></div>
                            <!-- social icons start -->
                            <div class="social-icons-wrapper">
                                <ul class="social-icons">
                                    <li>
                                        <a class="fa fa-twitter-square fa-2x" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-facebook-square fa-2x" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-google-plus-square fa-2x" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-youtube-square fa-2x" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-linkedin-square fa-2x" href="#"></a>
                                    </li>
                                    <li>
                                        <a class="fa fa-instagram fa-2x" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons end -->
                            <div class="decoration-social-right"></div>
                        </div>
                        <!-- decoration social end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row contact-column">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                <span class="awesome"><span class="fa fa-map-marker"></span></span> Address
                            </p>
                            <p>
                                ex nihilo, Inc., Touchdown Dr<br> 1176
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                <span class="awesome"><span class="fa fa-mobile"></span></span> Telephone
                            </p>
                            <p>
                                [00] 11 - 76<br> [01] 11 - 76
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                <span class="awesome"><span class="fa fa-paper-plane"></span></span> Email
                            </p>
                            <p>
                                <a href="mailto:you@yoursite.com">you@yoursite.com</a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <!-- contact form start -->
                            <div id="contact-form">
                                <form action="contact.php" id="form" method="post" name="send">
                                    <div>
                                        <input class="requiredField name" id="name" name="name" placeholder="Name" type="text">
                                    </div>
                                    <div>
                                        <input class="requiredField email" id="email" name="email" placeholder="Email" type="text">
                                    </div>
                                    <div>
                                        <input class="requiredField subject" id="subject" name="subject" placeholder="Subject" type="text">
                                    </div>
                                    <div>
                                        <textarea class="requiredField message" id="message" name="message" placeholder="Message">
</textarea>
                                    </div>
                                    <div>
                                        <button class="submit-button" id="submit-2" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <!-- contact form end -->
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- lower content end -->
        </div>
        <!-- center container end -->
    </div>
    <!-- center block end -->
</div>
<!-- contact end -->