<!-- upper page start -->
<div class="upper-page current" id="home">
  <!-- center container start -->
  <div class="center-container-home">
    <!-- center block start -->
    <div class="center-block">
      <!-- square start -->
      <div class="square">
        <span class="l1"></span>
        <span class="l2"></span>
        <span class="l3"></span>
        <span class="l4"></span>
      </div>
      <!-- square end -->

      <!-- upper content start -->
      <div class="upper-content">
        <!-- container start -->
        <div class="container sections">
          <!-- row start -->
          <div class="row intro-down">
            <div class="cycle-it-home">
              <a class="cycle-text" href="#">Bonnard Valentin</a>
            </div>

            <!-- intro start -->
            <div id="intro-wrapper">
              <div class="flexslider">
                <h2 class="text-carrousel" text-carrousel values="Développeur Back-end, Développeur Javascript, Développeur C#, Savant fou"></h2>
              </div>
              <!-- newsletter form start -->

              <div id="subscribe-wrapper">
                <div id="newsletter">
                  <div class="newsletter">
                    <form action="/" id="subscribe" method="post" name="subscribe">
                      <span class="input input--kuro">
                        <input class="subscriberequiredField subscribeemail input__field input__field--kuro" id="input-7 subscribeemail" name="subscribeemail" type="text">
                            <label class="input__label input__label--kuro" for="input-7"><span class="mail input__label-content input__label-content--kuro">Mot de passe
                            </span>
                      </label>
                      <button class="submit-button" id="submit" type="submit">Télécharger ( PDF )</button></span>
                    </form>
                  </div>
                </div>
              </div>
              <!-- newsletter form end -->
            </div>
            <!-- intro end -->
          </div>
          <!-- row end -->
        </div>
        <!-- container end -->
        <!-- countdown start -->
        <div id="countdown-wrapper" ng-controller="controller">
          <ul id="countdown">
            <!-- days start -->
            <li>
              <span class="days">{{city}}</span>
            </li>
            <!-- days end -->
            <!-- seconds start -->
            <li>
              <span class="seconds">{{degree}} °C</span>
            </li>
            <!-- seconds end -->
          </ul>
        </div>
        <!-- countdown end -->
      </div>
      <!-- center container end -->
    </div>
    <!-- center block end -->
  </div>
  <!-- upper content end -->
</div>
<!-- upper page end -->