<div class="lower-page current" id="photos">
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <!-- lower content start -->
            <div class="lower-content">
                <!-- container start -->
                <div class="container sections">
                    <!-- row start -->
                    <div class="row photos-column">
                        <div class="col-md-3">
                            <div class="cycle-it">
                                <a class="cycle-text" href="#">Ce que je / j'ai fais</a>
                            </div>
                            <h2>
                                Portfolio
                            </h2>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="quote">
                                <p>
                                    <span class="quote-mark-l fa fa-quote-left"></span>Nunc in lacus quis enim ultrices suscipit
                                    sit amet id lorem. Sed in lorem felis.<span class="quote-mark-r fa fa-quote-right"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row">
                        <!-- decoration start -->
                        <div class="decoration">
                            <div class="decoration-left"></div>
                            <div class="decoration-effect">
                                <a class="effect-bubba" href="#">Read more</a>
                            </div>
                            <div class="decoration-right"></div>
                        </div>
                        <!-- decoration end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row photos-column">
                        <!-- photoSwipe start -->
                        <section id="birdman-photos">
                            <div class="birdman-photos" data-pswp-uid="1">
                                <!-- photo gallery start -->
                                <!-- photo 1 start -->
                                <figure class="lineup">
                                    <a class="effect-bubba-photos" data-size="1920x1080" href="../images/photos/1.jpg"><img alt="Image description" src="../images/small/1.jpg"></a>
                                    <figcaption>
                                        Image caption 1 </figcaption>
                                </figure>
                                <!-- photo 1 end -->
                               
                               
                                <!-- photo gallery end -->
                            </div>
                        </section>
                        <!-- photoSwipe background start -->
                        <div class="pswp" tabindex="-1">
                            <div class="pswp__bg"></div>
                            <div class="pswp__scroll-wrap">
                                <div class="pswp__container">
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                </div>
                                <div class="pswp__ui pswp__ui--hidden">
                                    <div class="pswp__top-bar">
                                        <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"></button> <button class="pswp__button pswp__button--share"></button>                                        <button class="pswp__button pswp__button--fs"></button>
                                        <button class="pswp__button pswp__button--zoom"></button>
                                        <div class="pswp__preloader">
                                            <div class="pswp__preloader__icn">
                                                <div class="pswp__preloader__cut">
                                                    <div class="pswp__preloader__donut"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                        <div class="pswp__share-tooltip"></div>
                                    </div><button class="pswp__button pswp__button--arrow--left"></button> <button class="pswp__button pswp__button--arrow--right"></button>
                                    <div class="pswp__caption">
                                        <div class="pswp__caption__center"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- photoSwipe background end -->
                        <!-- photoSwipe end -->
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- lower content end -->
        </div>
        <!-- center container end -->
    </div>
    <!-- center block end -->
</div>