<!-- services start -->
<div class="lower-page" id="services">
    <!-- center container start -->
    <div class="center-container">
        <!-- center block start -->
        <div class="center-block">
            <!-- lower content start -->
            <div class="lower-content">
                <!-- container start -->
                <div class="container sections">
                    <!-- row start -->
                    <div class="row services-column">
                        <div class="col-md-3">
                            <div class="cycle-it">
                                <a class="cycle-text" href="#">What we do</a>
                            </div>
                            <h2>
                                Services
                            </h2>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="quote">
                                <p>
                                    <span class="quote-mark-l fa fa-quote-left"></span>Suspendisse ut feugiat orci, in laoreet
                                    augue. Aliquam ultricies, ligula non dignissim suscipit.
                                    <span class="quote-mark-r fa fa-quote-right"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row">
                        <!-- decoration start -->
                        <div class="decoration">
                            <div class="decoration-left"></div>
                            <div class="decoration-effect">
                                <a class="effect-bubba" href="#">Read more</a>
                            </div>
                            <div class="decoration-right"></div>
                        </div>
                        <!-- decoration end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div class="row services-column">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                Customer first
                            </p>
                            <!-- services effect start -->
                            <section class="set-8">
                                <div class="hi-icon-wrap hi-icon-effect-8">
                                    <a class="hi-icon hi-icon-services-1" href="#">Customer first</a>
                                </div>
                            </section>
                            <!-- services effect end -->
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dictum <a href="#">pharetra congue</a>.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                Quality first
                            </p>
                            <!-- services effect start -->
                            <section class="set-8">
                                <div class="hi-icon-wrap hi-icon-effect-8">
                                    <a class="hi-icon hi-icon-services-2" href="#">Quality first</a>
                                </div>
                            </section>
                            <!-- services effect end -->
                            <p>
                                Suspendisse ut feugiat orci, in laoreet augue. Aliquam ultricies, ligula non dignissim suscipit, neque nunc efficitur felis.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                Core values
                            </p>
                            <!-- services effect start -->
                            <section class="set-8">
                                <div class="hi-icon-wrap hi-icon-effect-8">
                                    <a class="hi-icon hi-icon-services-3" href="#">Core values</a>
                                </div>
                            </section>
                            <!-- services effect end -->
                            <p>
                                Curabitur sit amet odio vitae odio gravida tempus. Aenean in lectus neque.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <p class="info">
                                Core Pinciples
                            </p>
                            <!-- services effect start -->
                            <section class="set-8">
                                <div class="hi-icon-wrap hi-icon-effect-8">
                                    <a class="hi-icon hi-icon-services-4" href="#">Core Pinciples</a>
                                </div>
                            </section>
                            <!-- services effect end -->
                            <p>
                                Nunc in lacus quis enim ultrices suscipit sit amet id lorem. Sed in lorem felis. Nulla tempus consequat magna, eu
                                <a href="#">finibus mauris</a>.
                            </p>
                        </div>
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- lower content end -->
        </div>
        <!-- center container end -->
    </div>
    <!-- center block end -->
</div>
<!-- services end -->